.logo img{
    height: 50px;
    width: 50px;
}
.logo{
    margin-left: 20px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-right: 20px;
    margin: auto;
    
}
.nav a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
    font-family: "Josefin Sans",sans-serif;
}
.header{
    display: flex;
    /* border: 2px solid red; */
    
}